.spin{
}
.js-slider{
  position:relative;
  width:300px;
  height:20px;
}
.js-slider div{
  background:#ddd;
  height:3px;
  border:1px inset #aaa;
  position:relative;
  top:12px;
  font-size:0px;
}
.js-slider input{
  position:absolute;
  width:15px;
  height:20px;
  display:block;
}
