canvas{
}
.show-range{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 150px;
  left: 250px;
}
.show-energy{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 150px;
  left: 600px;
}
.show-magnet{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 150px;
  left: 950px;
}

.spin{
}
.js-slider{
  position:relative;
  width:300px;
  height:20px;
}
.js-slider div{
  background:#ddd;
  height:3px;
  border:1px inset #aaa;
  position:relative;
  top:12px;
  font-size:0px;
}
.js-slider input{
  position:absolute;
  width:15px;
  height:20px;
  display:block;
}

h2{
}
.show-energy_h2{
  position: absolute;
  top: 50px;
  left: 600px;
}
.show-magnet_h2{
  position: absolute;
  top: 50px;
  left: 950px;
}

h3{
}
.show-energy2{
  position: absolute;
  top: 125px;
  left: 575px;
}
.show-energy-2{
  position: absolute;
  top: 425px;
  left: 575px;
}
.show-magnet1{
  position: absolute;
  top: 125px;
  left: 925px;
}
.show-magnet0{
  position: absolute;
  top: 425px;
  left: 925px;
}
